{% extends 'sequencelistings/child.html' %}

{% block child_content %}
<h1>Change your password</h1>
        <form method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}

                <!-- <input type="submit" value="Submit" /> -->
                <input type="hidden" name="next" value="{{ next }}" />
                </form>
{% endblock %}

<!-- ^accounts/ ^password/change/$ [name='auth_password_change'] -->
<!-- ^accounts/ ^password/change/done/$ [name='auth_password_change_done'] -->